body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

form {
    width: 50%;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"], textarea, select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffd700;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group label {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}