:root {
    --primary-color: #007749; /* Green color representing South Africa's flag */
    --secondary-color: #FFC400; /* Yellow color representing South Africa's flag */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    position: relative;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    width: 300px;
    font-size: 1.2rem;
}

.weather {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    width: 250px;
    font-size: 1rem;
}

.weather h2 span {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
    clear: both;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .hero img {
        height: 50vh;
    }
    .info {
        position: relative;
        width: 100%;
        font-size: 1rem;
    }
    .weather {
        position: relative;
        width: 100%;
        font-size: 1rem;
    }
}